<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result[0].topicName%></title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=result[0].topicName%></h1>
        <div id="credentials">
            <form method="POST" action="/jointopic/<%=result[0].topicName%>">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>

                <input type="submit" value="Join topic"/>
            </form>
        </div>
        <% if (alreadyfailed == true) { %>
            <p>Your credentials are incorrect or you are already a member of this topic.</p>
        <% } %>
        <div>
            <h3>Posts</h3>
            <ul>
                <% for (let i = 0; i < result.length; i++) { %>
                    <li><a href="/topic/<%=result[i].topicName%>/<%=result[i].postId%>"><%=result[i].postName%></a></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>