<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result.topicName%></title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=result.topicName%></h1>
        <ul>
        <!-- <% for (let i = 1; i < result.length - 1; i++) { %>
            <li><a href="/topic/<%=result[0].topicName%>/<%=result[i].postId%>"><%=result[i].postName%></a></li>
        <% } %> -->
        </ul>
    </body>
</html>