<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result.userName%></title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=result.userName%></h1>
        <% for (let i = 0; i < result.posts.length; i++) { %>
            <div>
                <a href="/topic/<%=result.posts[i].topicName%>/<%=result.posts[i].postId%>"><%=result.posts[i].postName%></a>
            </div>
        <% } %>
    </body>
</html>