<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=postdata.postname%></title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=postdata.postname%></h1>
        <a href="/user/<%=userdata.username%>"><%=userdata.username%></a>
        <p><%=postdata.body%></p>
    </body>
</html>