<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=postdata.name%></title>
    </head>
    <body>
        <h1><%=postdata.name%></h1>
        <a href="/user/<%=userdata.userId%>"><%=userdata.name%></a>
        <p><%=postdata.body%></p>
    </body>
</html>