<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=topicdata.name%></title>
    </head>
    <body>
        <%=topicdata.name%>
        <ul>
        <% for (let i = 0; i < postdata.length; i++) { %>
            <li><a href="/post/<%=postdata[i].postId%>"><%=postdata[i].name%></a></li>
        <% } %>
        </ul>
    </body>
</html>