<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=userdata.name%></title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=userdata.name%></h1>
        <ul>
            <% for (let i = 0; i < postdata.length; i++) { %>
                <li><a href="/post/<%=postdata[i].postId%>"><%=postdata[i].name%></a></li>
            <% } %>
        </ul>
    </body>
</html>