<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Topics</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <ul>
        <% for (let i = 0; i < result.length; i++) { %>
            <li><a href="/user/<%=result[i].name%>"><%=result[i].userId%>, <%=result[i].name%>, <%=result[i].password%>, <%=result[i].description%>, <%=result[i].creationDate%></a></li>
        <% } %>
        </ul>
    </body>
</html>