<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Index</title>
    </head>
    <body>
        <a href="/">Homepage</a>
        <form method="POST" action="/searchresult">
            <input type="text" id="search" name="search"/>
            <input type="checkbox" id="users" name="users"/>
            <input type="checkbox" id="posts" name="posts"/>
            <input type="checkbox" id="topics" name="topics"/>
            <input type="submit" value="Search"/>
        </form>
        <% if (result[0].userName != undefined) { %>
            <!-- POSTS -->
            <% for (let i = 0; i < result.length; i++) { %>
                <div>
                    <a href="/post/<%=result[i].postId%>"> <%=result[i].postName%></a>
                    <a href="/user/<%=result[i].userName%>"> by <%=result[i].userName%></a>, <%=result[i].postCreationDate%>
                </div>
            <% } %>
        <% } else if (result[0].topicName != undefined) { %>
            <!-- TOPICS -->
            <% for (let i = 0; i < result.length; i++) { %>
                <div>
                    <a href="/topic/<%=result[i].topicName%>"> <%=result[i].topicName%>, <%=result[i].topicCreationDate%></a>
                </div>
            <% } %>
        <% } else { %>
            <!-- USERS -->
            <% for (let i = 0; i < result.length; i++) { %>
                <div>
                    <a href="/user/<%=result[i].userName%>"> <%=result[i].userName%>, <%=result[i].userCreationDate%></a>
                </div>
            <% } %>
        <% } %>
    </body>
</html>