<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Index</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <a href="/">Homepage</a>
        <form method="POST" action="/searchresult">
            <input type="text" id="search" name="search"/>

            <label for="posts">posts</label>
            <input type="checkbox" id="posts" name="radio" value="posts"/>
            <label for="topics">topics</label>
            <input type="checkbox" id="topics" name="radio" value="topics"/>
            <label for="users">users</label>
            <input type="checkbox" id="users" name="radio" value="users"/>

            <input type="submit" value="Search"/>
        </form>
        <% for (let i = 0; i < result.length; i++) { %>
            <% if (options.includes("posts")) { %>
                <% if (result[i].post_postName != null) { %>
                    <!-- POSTS -->
                    <div>
                        <a href="/topic/<%=result[i].post_topicName%>/<%=result[i].postId%>"> <%=result[i].post_postName%></a>
                        by <a href="/user/<%=result[i].post_userName%>"><%=result[i].post_userName%></a>, <%=result[i].postCreationDate%>
                    </div>
                <% } else if (options.includes("topics")) { %>
                    <% if (result[i].topic_topicName != null) { %>
                    <!-- TOPICS -->
                        <div>
                            <a href="/topic/<%=result[i].topic_topicName%>"> <%=result[i].topic_topicName%>, <%=result[i].topicCreationDate%></a>
                        </div>
                    <% } else if (options.includes("users")) { %>
                        <% if (result[i].user_userName != null) { %>
                        <!-- USERS -->
                        <div>
                            <a href="/user/<%=result[i].user_userName%>"> <%=result[i].user_userName%>, <%=result[i].userCreationDate%></a>
                        </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
    </body>
</html>