<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: New Post</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <a href="/">Homepage</a>
        <% if (alreadyfailed == true) { %>
            <form method="POST" action=/postsubmitted>
                <label for="posttitle">Title:</label>
                <input type="text" id="posttitle" value="<%=previous.posttitle%>"name="posttitle"/>

                <input type="text" id="postbody" name="postbody" value="<%=previous.postbody%>"/>

                <label for="topic">Topic:</label>
                <input type="text" id="topic" name="topic" value="<%=previous.topic%>" />

                <div id="credentials">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="<%=previous.username%>"/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="<%=previous.password%>"/>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
            One of your credentials is incorrect, or you are not a member of the topic you are trying to post to.
        <% } else { %>
            <form method="POST" action=/postsubmitted>
                <label for="posttitle">Title:</label>
                <input type="text" id="posttitle" name="posttitle"/>

                <input type="text" id="postbody" name="postbody"/>

                <label for="topic">Topic:</label>
                <input type="text" id="topic" name="topic"/>

                <div id="credentials">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <input type="submit" value="Submit"/>
            </form>
        <% } %>
    </body>
</html>