<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result.postName%></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <a href="/">Homepage</a>
                <input type="button" onclick="showLoginForm()" value="Join topic"/>
                <% if (alreadyfailed == true) { %>
                    <p>Your credentials are incorrect or you are already a member of this topic.</p>
                <% } %>
            </div>
        </nav>
        <h1><%=result.postName%></h1>
        <a href="/user/<%=result.userName%>"><%=result.userName%></a>
        <p><%=result.postBody%></p>
    </body>
</html>