<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: <%=result.postName%></title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <a href="/">Homepage</a>
        <h1><%=result.postName%></h1>
        <a href="/user/<%=result.userName%>"><%=result.userName%></a>
        <p><%=result.postBody%></p>
    </body>
</html>