<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: Posts</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <div class="container">
                <a href="/">Homepage</a>
                <form method="POST" action="/searchresult">
                    <input type="text" id="search" name="search"/>

                    <label for="posts">posts</label>
                    <input type="radio" id="posts" name="radio" value="posts"/>
                    <label for="topics">topics</label>
                    <input type="radio" id="topics" name="radio" value="topics"/>
                    <label for="users">users</label>
                    <input type="radio" id="users" name="radio" value="users"/>

                    <input type="submit" value="Search"/>
                </form>
            </div>
        </nav>
        <form method="POST" action="/searchresult">
            <input type="text" id="search" name="search"/>

            <label for="posts">posts</label>
            <input type="radio" id="posts" name="radio" value="posts"/>
            <label for="topics">topics</label>
            <input type="radio" id="topics" name="radio" value="topics"/>
            <label for="users">users</label>
            <input type="radio" id="users" name="radio" value="users"/>

            <input type="submit" value="Search"/>
        </form>
        <h3>Posts</h3>
        <% for (let i = 0; i < result.length; i++) { %>
            <div class="index-item">
                <a href="/topic/<%=result[i].topicName%>/<%=result[i].postId%>"> <%=result[i].postName%></a>
                by <a href="/user/<%=result[i].userName%>"><%=result[i].userName%></a>, <%=result[i].postCreationDate%>
            </div>
        <% } %>
    </body>
</html>