<!DOCTYPE html>
<html>
    <head>
        <meta charset UTF-8>
        <title><%=siteName%>: New Topic</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <a href="/">Homepage</a>
        <% if (alreadyfailed == true) { %>
            <form method="POST" action=/topicsubmitted>
                <label for="topicname">Topic Name:</label>
                <input type="text" id="topicname" name="topicname" value="<%=previous.topicname%>"/>

                <input type="text" id="topicdescription" name="topicdescription" value="<%=previous.topicdescription%>"/>

                <div id="credentials">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="<%=previouspost.username%>"/>

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="<%=previouspost.password%>"/>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
            One of your credentials is incorrect, or you are not an admin.
        <% } else { %>
            <form method="POST" action=/topicsubmitted>
                <label for="topicname">Topic Name:</label>
                <input type="text" id="topicname" name="topicname"/>

                <input type="text" id="topicdescription" name="topicdescription"/>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username"/>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>

                <input type="submit" value="Submit"/>
            </form>
        <% } %>
    </body>
</html>